/* Navigation Section  */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/* Home Section */
#home{
    height: 380px;
    padding: 8px 30px;
    
}
#home::before{
    height: 500px;

}
#home p{
    font-size: 18px;

}

/* Services Section  */
#services{
flex-direction: column;
}



/* Client Section */
#clients{
    overflow: hidden;
}

/* Contact Us Section */


/* Utility Classes */
.h-primary{
    font-size: 29px;
}