#nav {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -2px;
  }

  .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
  }
  

  .python {
    margin-left: 168px;
    font-size: larger;
    color: rgb(65 35 29);
    font-weight: 600;
    font-family: serif;
  }

  .wordpress,
  .bootstrap,
  .html,
  .css,
  .javascript {
    margin-left: 168px;
    font-size: larger;
    color: rgb(65 35 29);
    font-weight: 600;
    font-family: serif;

  }

  

  .container{
    padding: 10px 74px 10px 74px;
  }
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 0rem!important;
}
/* .contact{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
} */

h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.contact{
  padding-left: 5px;
  align-items: center;
  justify-content: center;
  height: 84vh;
}

footer {
  /* border: 2px solid #f60b0b; */
  padding: 4px;
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

form{
  width: 42%;
}